@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes appear {
  from {
    opacity: 0;
    scale: 0;
  }
  to {
    opacity: 1;
    scale: 1;
  }
}
@keyframes popupPopdown {
    0%, 100% {
      transform: scale(0.9);
    }
    50% {
      transform: scale(1);
    }
  }
.block {
  animation: appear;
  animation-timeline: view();
  animation-range: entry 0% cover 30%;
}
.imgAnimation {
    animation: popupPopdown 2s infinite;

  /* animation: appear 0.5s ease-in-out; */
  /* animation-timeline: view();
  animation-range: ; */
  /* transform: translateX(0px); */
}

@keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-50%);
    }
  }
  
  .animate-scroll {
    display: flex;
    animation: scroll 10s linear infinite;
  }
